section.latest-product {
    .latest-product__item__pic {
        img {
            width: 110px;
            height: 110px;
            object-fit: cover;
        }
    }
}

.humberger__menu__wrapper {
    .humberger__menu__contact {
        ul li {
            a {
                color: $black;
            }
        }
    }
}
